h1 {
  margin: 0;
}

html,
body,
#root {
  height: 100vh;
}

.App {
  background-color: black;
  text-align: center;
  font-family: "PocketMonk";
  height: 100%;
}

.page-wrapper {
  margin: 0;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
